@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

:root {
  --background-light: #f8fafc;
  --text-light: #525252;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

input {
  font-size: 100%;
  font-family: inherit;
}

body {
  background-color: #e5e7eb;
  font-family: "Rubik", sans-serif;
}

.page-grid {
  display: grid;
  grid-template: max-content minmax(100vh, 1fr) / max-content minmax(600px, 1fr);
}

main {
  background-image: url(imgs/book-reading.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 700px;
  grid-row: 1 / 3;
}

.sidebar {
  background-color: #0369a1;
  grid-row: 1 / 3;
  grid-auto-rows: max-content;
  display: grid;
  width: 320px;
  row-gap: 25px;
  padding: 20px;
  background-image: url(imgs/ucat-reading.png);
  background-size: 100px 100px;
  background-position: top 15px left;
  background-repeat: no-repeat;
  position: relative;
}

.toplogo {
  display: flex;
  align-items: center;
  padding-left: 80px;
  height: 100px;
  margin-bottom: 25px;
}

.library-title {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  line-height: 1;
  font-size: 15px;
}

.library-title p {
  margin-left: 2px;
}

.sidebar h1 {
  font-size: 50px;
  color: whitesmoke;
}

.input-box {
  position: relative;
  color: #0c4a6e;
}

.validation-box {
  color: black;
}

#title,
#author,
#pages {
  border: none;
  background-color: #0369a1;
  border-bottom: 2px dotted;
  width: 100%;
}

#add-book {
  margin-top: 30px;
  padding: 12px 12px;
  background-color: #7a4331;
  border: 1px solid #7a4331;
  color: whitesmoke;
  border-radius: 5px;
  cursor: pointer;
}

.input-box span.placeholder {
  position: absolute;
  transition: all 0.3s;
  transform-origin: 0% 0%;
  left: 0px;
  pointer-events: none;
}

.input-box input:valid + span.placeholder,
.input-box input:focus + span.placeholder {
  transform: scale(0.8) translateY(-30px);
}

.input-box input:focus + span.placeholder {
  color: whitesmoke;
}

.input-box input:focus {
  border-bottom: 2px dotted white !important;
}

.validation-box {
  height: 40px;
  margin-bottom: 10px;
  font-size: 15px;
}

.validation-box.red {
  color: #b91c1c;
}

.topnav {
  background-color: rgba(134, 239, 172, 0.9);
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-column: 2/4;
  grid-row: 1/2;
  padding: 15px 15px;
  border-radius: 8px;
  margin: 10px;
}

.topnav p {
  font-size: 20px;
  display: inline;
}

.main-library {
  display: grid;
  margin: 20px;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, 195px);
}

.book {
  background: rgba(247, 198, 198, 0.5);
  border-radius: 8px;
  width: 180px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.book p {
  font-size: 18px;
  text-align: center;
  overflow: hidden;
  word-wrap: break-word;
}

.text-book {
  width: 180px;
  overflow: hidden;
}

.text-book > p:first-child {
  color: #0c4a6e;
  font-style: italic;
  margin-bottom: 8px;
}

.text-book > p:nth-child(4) {
  color: white;
  font-size: 15px;
}

.button-book {
  display: flex;
}

.button-book .green-btn {
  background-color: #86efac;
}

.book button {
  padding: 5px;
  font-size: 18px;
  background-color: rgb(243, 153, 160);
  border: none;
  border-radius: 5px;
  width: 75px;
  height: 50px;
  margin: 4px;
}

button {
  cursor: pointer;
}

footer {
  justify-content: center;
  display: flex;
  align-items: center;  
  margin-bottom: 0px; 
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  }

  footer p {
    font-size: 14px;  
    margin-right: 8px;
    }
    
    .fa.fa-github {
    color: whitesmoke; 
    transition: transform 0.3s ease-in-out;
    }
    
    .fa.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
    color: #f43f5e;
    }